
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #00B5E2;
  color: white;
}

.container {
  padding: 0 16px;
  background-color: #f3f3f3;
  min-height: 630px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display:table;
}

.title {
  color: grey;
  font-weight: bold;
 text-justify: distribute;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  background: #00B5E2 url("images/overlay.png");
  color: #fff;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    display: block;
  }
  .container{
    min-height: 470px;
  }
}


@media screen and (max-width: 1180px) {
  .container{
    min-height: 600px;
  }
}


@media screen and (max-width: 980px) {
  .container{
    min-height: 570px;
  }
}

/* Header */

#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  position: relative;
  height: 19em;
  background: url("../images/banner.jpg") center center;
  background-size: cover;
  padding: 0;
}

#header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/overlay.png");
}

.homepage #header {
  height: 35em;
}

/* Logo */

#logo {
	width: 100%;
	text-align: center;
	position: relative;
	top: 1.5em;
  margin-bottom: 0.67em;
}

#logo h1 {
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
	font-size: 2em;
	letter-spacing: 0.25em;
}

#logo p {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	margin: 1.25em 0 0 0;
	display: block;
	letter-spacing: 0.2em;
	font-size: 0.9em;
}


/* Nav */

#nav {
  position: absolute;
  display: block;
  top: 2.5em;
  left: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
  
}

#nav>ul {
  display: inline-block;
  border-radius: 0.35em;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  padding: 0 1.5em 0 1.5em;
  background-color: #00B5E2;
}

#nav>ul>li {
  display: inline-block;
  text-align: center;
  padding: 0 1.5em 0 1.5em;
  font-weight: bold;

}

#nav>ul>li>ul {
  display: none;
}

#nav>ul>li>a,
#nav>ul>li>span {
  display: block;
  color: #eee;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.7em;
  letter-spacing: 0.25em;
  height: 5em;
  line-height: 5em;
  transition: all .25s ease-in-out;
  outline: 0;
}

#nav>ul>li:hover>a {
  color: #fff;
}

#nav>ul>li.active>a,
#nav>ul>li.active>span {
  color: #fff;
}




/* Wrapper */

.wrapper {
  position: relative;
  padding: 2em 0 3em 0;
}

.wrapper .title {
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  letter-spacing: 0.25em;
  font-size: 0.9em;
  width: 25em;
  height: 3.25em;
  top: -3.25em;
  line-height: 3.25em;
  margin-bottom: -3.25em;
  margin-left: -12.5em;
  padding-top: 0.5em;
}



.wrapper.style1 {
  background: #00B5E2 url("images/overlay.png");
  color: #eee;
  color: rgba(255, 255, 255, 0.75);
}

.wrapper.style1 .title {
  background: #00B5E2 url("images/overlay.png");
  color: #fff;
}

.wrapper.style1 h1,
.wrapper.style1 h2,
.wrapper.style1 h3,
.wrapper.style1 h4,
.wrapper.style1 h5,
.wrapper.style1 h6,
.wrapper.style1 strong,
.wrapper.style1 b,
.wrapper.style1 a {
  color: #fff;
}

.wrapper.style2 {
  background: #fff;
}

.wrapper.style2 .title {
  background: #fff;
  color: #484d55;
}

.wrapper.style3 {
  background: #f3f3f3 url("images/overlay.png");
}

.wrapper.style3 .title {
  background: #f3f3f3 url("images/overlay.png");
  color: #484d55;
}

.wrapper.style3 .image {
  border: solid 10px #fff;
}

/* Page Wrapper */

#page-wrapper>section {
  margin-bottom: 0;
}

  

  /* #page-wrapper {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding-bottom: 1px;
  }

  #titleBar {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 44px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    background: none;
  }

  #titleBar .title {
    display: none;
  }

  #titleBar .toggle {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 44px;
  }

  #titleBar .toggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }

  #titleBar .toggle:before {
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    text-decoration: none;
    content: '\f0c9';
    font-size: 14px;
    position: absolute;
    top: 6px;
    left: 6px;
    display: block;
    width: 54px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(92, 95, 103, 0.5);
    border-radius: 0.25em;
  }

  #titleBar .toggle:active:before {
    background-color: rgba(92, 95, 103, 0.75);
  }

  #navPanel {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translateX(-275px);
    -webkit-transform: translateX(-275px);
    -ms-transform: translateX(-275px);
    transform: translateX(-275px);
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 275px;
    z-index: 10002;
    background: #242730 url("images/overlay.png");
    box-shadow: inset -3px 0px 4px 0px rgba(0, 0, 0, 0.1);
  }

  #navPanel .link {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.85em;
    letter-spacing: 0.15em;
    text-decoration: none;
    height: 44px;
    line-height: 44px;
    border-top: solid 1px rgba(255, 255, 255, 0.05);
    margin: 0 15px 0 15px;
  }

  #navPanel .link:first-child {
    border-top: 0;
  }

  #navPanel .indent-1 {
    display: inline-block;
    width: 1em;
  }

  #navPanel .indent-2 {
    display: inline-block;
    width: 2em;
  }

  #navPanel .indent-3 {
    display: inline-block;
    width: 3em;
  }

  #navPanel .indent-4 {
    display: inline-block;
    width: 4em;
  }

  #navPanel .indent-5 {
    display: inline-block;
    width: 5em;
  }

  #navPanel .depth-0 {
    color: #fff;
  }

  body.navPanel-visible #page-wrapper {
    -moz-transform: translateX(275px);
    -webkit-transform: translateX(275px);
    -ms-transform: translateX(275px);
    transform: translateX(275px);
  }

  body.navPanel-visible #titleBar {
    -moz-transform: translateX(275px);
    -webkit-transform: translateX(275px);
    -ms-transform: translateX(275px);
    transform: translateX(275px);
  }

  body.navPanel-visible #navPanel {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  } */


/* Footer */

#footer {
	background: #282b34 url("images/overlay.png");
	color: #eee;
	color: rgba(255, 255, 255, 0.5);
	padding-bottom: 1em;
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6,
#footer strong,
#footer b,
#footer a {
	color: #fff;
}

#footer hr {
	border-top-color: #333;
	border-top-color: rgba(255, 255, 255, 0.05);
}

#footer form input[type="text"],
#footer form input[type="email"],
#footer form input[type="password"],
#footer form select,
#footer form textarea {
	background: #ccc;
	box-shadow: none;
}

#footer form input[type="text"]:focus,
#footer form input[type="email"]:focus,
#footer form input[type="password"]:focus,
#footer form select:focus,
#footer form textarea:focus {
	background: #fff;
}

#footer input[type="button"],
#footer input[type="submit"],
#footer input[type="reset"],
#footer button,
#footer .button {
	color: #fff;
	box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
}

#footer input[type="button"]:hover,
#footer input[type="submit"]:hover,
#footer input[type="reset"]:hover,
#footer button:hover,
#footer .button:hover {
	color: #fff;
	box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.65);
}

#footer input[type="button"]:active,
#footer input[type="submit"]:active,
#footer input[type="reset"]:active,
#footer button:active,
#footer .button:active {
	box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
}

#footer input[type="button"].style2:active,
#footer input[type="submit"].style2:active,
#footer input[type="reset"].style2:active,
#footer button.style2:active,
#footer .button.style2:active {
	box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
}

#footer .title {
	background: #282b34 url("images/overlay.png");
	color: #eee;
}

#footer header.style1 {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}

#footer header.style1 h2 {
	color: #fff;
}

#footer header.style1 .p {
	color: inherit;
}

#footer .feature-list {
	max-width: 100%;
}

#footer .feature-list section {
	border-top-color: rgba(255, 255, 255, 0.05);
}

#footer .feature-list h3:before {
	background: #3d4249 url("images/overlay.png");
}

/* Copyright */

#copyright {
	text-align: center;
	padding-top: 1em;
	margin-top: 1em;
	border-top: solid 1px rgba(255, 255, 255, 0.05);
}

#copyright ul {
	display: inline-block;
	border-radius: 0.15em;
	box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.05);
	color: #aaa;
	color: rgba(255, 255, 255, 0.25);
	padding: 0.05em;
	font-size: 0.9em;
}

#copyright ul li {
	display: inline-block;
	margin-left: 1em;
	padding-left: 1em;
	border-left: solid 1px #333;
	border-left-color: rgba(255, 255, 255, 0.05);
}

#copyright ul li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

#copyright a {
	color: inherit;
}

#copyright a:hover {
	color: #fff;
}









